<mat-spinner *ngIf="isLoading"></mat-spinner>
<button mat-button color="warn" (click)="onDelete()">Delete</button>
<mat-accordion multi="true" *ngIf="events.length > 0 && !isLoading" >
  <mat-expansion-panel *ngFor="let event of events">
    <mat-expansion-panel-header>
      {{event.firstName}} {{event.lastName}}
    </mat-expansion-panel-header>
    {{event.firstName}} {{event.lastName}} date: {{event.date}} <br>
    Access: {{event.access}} <br>
  </mat-expansion-panel>
</mat-accordion>
<p class="info mat-body-1" *ngIf="events.length<=0 && !isLoading">No Events In the DataBase!</p>
